body {
    background: #F3F3F3;
}
p,
h1,h2,h3,h4,h5,h6{
    margin: 0;
}



#news {
    padding: 50px 150px;
}
#news h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 69px;
    text-align: center;
    color: #1A1C1E;
}
#news p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.0015em;
    color: #1A1C1E;
    opacity: 0.5;
}
#news .news-main {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
#news .news-main .news-left {
}
#news .news-main .news-left p {
}
#news .news-main .news-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 70%;
}
#news .news-main .news-gallery .news-single {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#news .news-main .news-gallery .news-single .image {
    margin-bottom: 24px;
    /* width: 333px; */
}
#news .news-main .news-gallery .news-single .image img {
    display: block;
    width: 100%;
}
#news .news-main .news-gallery .news-single h5 {
}



#nss {
    padding: 50px 140px;
}
#nss .nss-description {
}
#nss .nss-description h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    text-align: center;
    margin-bottom: 32px;
    color: #1A1C1E;
}
#nss .nss-description p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    letter-spacing: 0.0015em;
    text-align: justify;
    color: #1A1C1E;
    width: 60%;
    margin: 0 auto;
}
#nss .nss-faculty {
}
#nss .nss-faculty h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    text-align: center;
    color: #1A1C1E;
    margin: 32px 0;
}
#nss .nss-faculty .nss-gallery{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
#nss .nss-faculty .nss-gallery .details {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
#nss .nss-faculty .nss-gallery .details .image {
    border-radius: 12px;
    width: 272px;
    margin-bottom: 24px;
}
#nss .nss-faculty .nss-gallery .details .image img {
    display: block;
    width: 100%;
}
#nss .nss-faculty .nss-gallery .details .name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.0015em;
    color: #1A1C1E;
}
#nss .nss-faculty .nss-gallery .details .designation {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #1A1C1E;
    opacity: 0.5;
    margin-bottom: 4px;
}
#nss .nss-faculty .nss-gallery .details p:last-child{
    margin-bottom: 0;
}

#research{
    background: #F3F3F3;
    display: flex;
    gap: 130px;
    padding: 50px 140px;
}
#research .rsr-left{
    width: 335px;
}
#research .rsr-left .menu-container{
    background: #ffffff;
    border-radius: 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 16px;
}
.menu-container a{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    background: #f8f8f8;
    border-radius: 16px;
    border: 2px solid #f8f8f8;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    color: #808080;
}
.menu-container a:hover{
    border: 2px solid #007fff;
    border-radius: 16px;
    color: #007fff;
}
#research .rsr-left .menu-container a .image{
    width: 24px;
}
#research .rsr-left .menu-container a .image img{
    display: block;
    width: 100%;
}
#research .rsr-right{
    width: 70%;
}
#research .rsr-right .rsr-dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    width: 420px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 16px;
}
#research .rsr-right .rsr-dropdown .tab-name {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 16px;
    color: #808080;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}
#research .rsr-right .rsr-dropdown .icon{
    width: 24px;
    cursor: pointer;
}
#research .rsr-right .rsr-dropdown .icon img{
    display: block;
    width: 100%;
}
#research .rsr-right .rsr-dropdown p{
    margin: 0;
}



#research .rsr-right .dropdown-box {
    display: none;
    /* display: flex; */
    flex-direction: column;
    gap: 8px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    width: 420px;
    padding: 16px;
    margin-top: 12px;
    position: absolute;
}
#research .rsr-right .dropdown-box .tabs {
    display: flex;
    align-items: center;
    background: #F8F8F8;
    border-radius: 16px;
    padding: 16px;
    gap: 16px;
    text-decoration: none;
    color: #808080;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}
#research .rsr-right .dropdown-box .tabs:hover{
    background: #D5F2FF;
}
#research .rsr-right .dropdown-box .tabs .icon {
    width: 24px;
}
#research .rsr-right .dropdown-box .tabs .icon img {
    display: block;
    width: 100%;
}
#research .rsr-right .dropdown-box .tabs p {
    margin: 0;
}


#research .rsr-right .rsr-content{
}
#research .rsr-right .rsr-content h3{
    color: #000000;
    font-weight: 500;
    font-size: 33px;
}
#research .rsr-right .rsr-content p{
    color: #656565;
    font-weight: 400;
    font-size: 23px;
    line-height: 34px;
}
.bgd{
    border: 2px solid #007fff;
    border-radius: 16px;
    color: #007fff;
}






.professional-bodies {
    padding: 50px 140px;
}
.professional-bodies .prfsnl-top {
    margin-bottom: 57px;
}
.professional-bodies .prfsnl-top h3 {
    color: #1A1C1E;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 69px;
    text-align: center;
    margin-bottom: 23px;
}
.professional-bodies .prfsnl-top p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0015em;
    color: #1A1C1E;
}
.professional-bodies .prfsnl-bottom {
    display: flex;
    justify-content: space-between;
}
.professional-bodies .prfsnl-bottom .menu {
    width: 25%;
}
.professional-bodies .prfsnl-bottom .prfsnl-content {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.professional-bodies .prfsnl-bottom .prfsnl-content .prfsnl-image {
    width: 400px;
    margin-bottom: 50px;
}
.professional-bodies .prfsnl-bottom .prfsnl-content .prfsnl-image img {
    display: block;
    width: 100%;
}
.professional-bodies .prfsnl-bottom .prfsnl-content h3 {
    color: #1A1C1E;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 69px;
    text-align: center;
    margin-bottom: 24px;
}
.professional-bodies .prfsnl-bottom .prfsnl-content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0015em;
    color: #1A1C1E;
    margin-bottom: 24px;
}
.professional-bodies .prfsnl-bottom .prfsnl-content .button {
    display: flex;
    align-items: center;
    color: #007FFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
.professional-bodies .prfsnl-bottom .prfsnl-content .button span {
    display: inline-block;
    width: 15px;
}
.professional-bodies .prfsnl-bottom .prfsnl-content .button span img {
    display: block;
    width: 100%;
}



#csi {
    padding: 50px 140px;
}
#csi .csi-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
}
#csi .csi-about .about-content {
    width: 70%;
}
#csi .csi-about .about-content h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 69px;
    color: #1A1C1E;
    margin: 0 0 23px 0;
}
#csi .csi-about .about-content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 175%;
    display: flex;
    align-items: center;
    color: #1A1C1E;
    margin: 0;
}
#csi .csi-about .image {
    width: 346px;
}
#csi .csi-about .image img {
    display: block;
    width: 100%;
}
#csi .csi-cce {
}
#csi .csi-cce h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 69px;
    text-align: center;
    color: #003399;
    margin: 0 0 23px 0;
}
#csi .csi-cce p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0015em;
    color: #003399;
    margin: 0 auto;
    width: 80%;
}





#events {
    padding: 50px 140px;
}
#events h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 69px;
    text-align: center;
    margin-bottom: 75px;
}
#events .events-main {
    display: flex;
    gap: 30px;
}
#events .events-main .events-left {
    width: 30%;
}
#events .events-main .events-left .image {
    border-radius: 7px;
    width: 88%;
    /* width: 400px; */
    /* height: 400px; */
}
#events .events-main .events-left .image img {
    display: block;
    width: 100%;
}
#events .events-main .events-right {
    width: 70%;
    display: flex;
    align-items: center;
}
#events .events-main .events-right .event-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}
#events .events-main .events-right .event-content h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 50px;
    letter-spacing: 0.0025em;
    color: #1A1C1E;
    margin: 0 0 12px 0;
}
#events .events-main .events-right .event-content h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;
    color: #1A1C1E;
    margin: 0 0 12px 0;
}
#events .events-main .events-right .event-content p {
    color: #1A1C1E;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.0015em;
    width: 96%;
    margin: 0 0 18px 0;
}
#events .events-main .events-right .event-content .button {
    color: #007FFF;
    border: 1px solid #007FFF;
    border-radius: 7px;
    padding: 7px 30px;
    text-decoration: none;
}
#events .events-main .events-right .forward {
}
#events .events-main .events-right .forward img {
}
#events .events-bottom {
    display: flex;
    justify-content: flex-end;
}
#events .events-bottom .button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    color: #FFFFFF;
    background: #007FFF;
    border-radius: 7px;
    text-decoration: none;
    padding: 10px 50px;
}